#!/bin/bash

### BEGIN INIT INFO

# Provides: backup s3

# Required-Start: $remote_fs $syslog

# Required-Stop: $remote_fs $syslog

# Default-Stop: 6

# Short-Description: Run Backup on Shutdown

# Description: To backup the Logs to s3

# 

### END INIT INFO

case "$1" in

 stop)

{% for item in dirs %}
	s3cmd sync {{ item.directory }} s3://{{ item.bucket_name }}
{% endfor %}

   ;;

 *)

   echo "Usage: backups3_logs {stop}" >&2

   exit 3

   ;;

esac

